ImageNette_SoftHebb6 filter=lfs diff=lfs merge=lfs -text
SoftHebb-main/main_dd8a6_00001_1_seed=1_2024-10-01_21-55-35/** filter=lfs diff=lfs merge=lfs -text
SoftHebb-main/main_dd8a6_00001_1_seed=1_2024-10-01_21-55-35/* filter=lfs diff=lfs merge=lfs -text
